.logo {
    font-family: 'Righteous', cursive;
    color: #51f485;
    font-size: 50px;
    font-weight: bold;
  }
 .text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
    transform: scale(0.8); /* menambahkan transform scale */
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1); /* menambahkan transform scale */
  }
}

.button{
  color: white;
  border: 1px  solid #51f485;
  text-decoration: none;
  padding: 6px;
  border-radius:10px;
}
