
#navbarSupportContent {
    justify-content: space-between;
  }
  #togle {
    background-color: #dc3545;
  }
  .logo {
    font-family: 'Righteous', cursive;
    color: #dc3545;
    font-size: 50px;
    font-weight: bold;
  }
 .text-focus-in {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
    transform: scale(0.8); /* menambahkan transform scale */
  }
  100% {
    filter: blur(0);
    opacity: 1;
    transform: scale(1); /* menambahkan transform scale */
  }
}

.nav-link {
  font-size: 25px;
  color: #f3efe0;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

  .nav-link:hover {
    color: #dc3545;
  }
  .link .nav-link:active,
.link .nav-link:visited {
  color: #F3EFE0;
}
.link .nav-link:focus {
  color: #32cd32;
}
.dropdown-menu.show {
  background-color: #222222;
  left: -60%;
}
.dropdown-item {
  color: #005b8f;
}